<!--
  File: index.ejs
  Author: Nahia Akter
  StudentID: 301106956
  Date: Oct 11, 2020
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main content-->
  <main>
   <% if(title == "Home") { %>
        <%- include partials/home.ejs %>
    <% } %>

    <% if(title == "About") { %>
        <%- include partials/about_me.ejs %>
    <% } %>

    <% if(title == "Projects") { %>
        <%- include partials/projects.ejs %>
    <% } %>

    <% if(title == "Services") { %>
        <%- include partials/services.ejs %>
    <% } %>

    <% if(title == "Contact") { %>
        <%- include partials/contact.ejs %>
    <% } %>
    </main>
  
<%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>

  